.App{
  border:  1px solid #c7acac;
  border-radius: 5px;
  width: 550px;
  margin: 120px auto;
} 
.todoBody{
  padding: 10px;
}
.todoItems{
  border: 1px solid gray;
  margin-top: 10px;
}
.todoItems > div:nth-child(even){
  border: 1px solid gray;
  margin-top: 10px;
}
.Add-todo{
  text-align: center;
  padding:15px;
  color:rgb(143,143,143);
}
.preloader{
  display: flex;
  justify-content: center;
}
.preloader>img{
  margin-top: 100px;
  width:250px;
}
@media(max-width:768px){
  .App{
    width:95%;  
  }
}